@import "../../node_modules/angular-material/angular-material.scss";
@import "_fonts";
@import "_todo";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.app-desc {
  margin-top: 20px;
  color: #bbb;
  font-size: 12px;
  text-align: center;
}
