<!DOCTYPE html>
<html lang="en" ng-app="todo">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1" />
  <title>Bean's Todo</title>
  <link rel="stylesheet" href="bundle.css">
</head>

<body ng-controller="MainCtrl as main">
  <md-toolbar layout="row">
    <div class="md-toolbar-tools">
      <h1>Bean's Jar</h1>
    </div>
  </md-toolbar>

  <div layout="row">
    <div flex-sm="0" flex-md="10" flex-lg="15" flex-gt-lg="25"></div>
    <div flex>
      <md-card>
        <form name="taskForm" layout-padding layout="row" layout-align="start end">
          <md-input-container flex>
            <label>Got new beans for the jar?</label>
            <input type="text" ng-model="main.model.text" md-maxlength="140">
          </md-input-container>
          <md-button class="md-icon-button" ng-show="main.model.text" ng-disabled="!main.model.text" ng-click="main.create()">
            <md-icon>create</md-icon>
          </md-button>
        </form>
        <div class="todo__items--empty" ng-if="!main.items.length">
          <md-icon >local_cafe</md-icon>
          <p>No beans left, try put some more...</p>
        </div>
        <md-content class="todo__items">
          <div layout-padding layout="row" layout-align="start center" ng-repeat="item in main.items">
            <div flex>
              <md-checkbox ng-model="item.done">{{item.text}}</md-checkbox>
            </div>
            <md-button class="md-icon-button" ng-click="main.remove(item)">
              <md-icon>remove_circle</md-icon>
            </md-button>
          </div>
        </md-content>
      </md-card>

      <p class="app-desc">A todo app for Mr Bean</p>

    </div>
    <div flex-sm="0" flex-md="10" flex-lg="15" flex-gt-lg="25"></div>
  </div>
  <script src="bundle.js"></script>
</body>

</html>
